*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  //   font-family: "Yrsa", serif;
  box-sizing: border-box;
  color: #121212;
  overflow-X: hidden;

  font-weight: 400;
}

.container {
  width: 1170px;
  max-width: 100%;
  margin: 0px auto;
}

a,
a:hover{
  text-decoration: none !important;
}