/*color*/
$color-white: #ffff;
$color-red: #e72f30;
$color-red--light: #ab5151;
$color-grey--light: #dedbdb;
$color-grey--light---2: #7f7f7f;
$color-grey--light---3: #e9e9e9;
$color-grey--dark: #ececec;
$color-grey--dark---2: #2d2d2d;
$color-orange:#fb663e;
$color-brow: #3a3939;
$color-black: #000;
