.dots {
  margin-top: 5.6rem;
}
.dot {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    &-item {
      height: 1.5rem;
      width: 1.5rem;
      background-color: $color-grey--light;
      border-radius: 50%;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
.active-dots{
    background-color: $color-red;
}
